.header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e3e3e4;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
}

.header__inner-wrap {
  width: 1150px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__logo-box {
  padding-top: 6px;
}

.header__search-box {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 100%;
  background: #f3f3f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  border: 1px solid #f3f3f4;
}

.search-form__input {
  background: transparent;
  border: 0;
  flex: 1;
  font-size: 16px;
  padding: 14px 20px;
}

.search-form:focus-within {
  border: 1px solid #d8d9dd;
}

.search-form__input:focus {
  outline: 0;
}

.search-form__btn {
  background: #f3f3f4;
  height: 100%;
  width: auto;
  padding: 14px 18px;
  border: 0;
  position: relative;
  cursor: pointer;
}

.search-form__btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 1px;
  height: 50%;
  background: rgba(22, 24, 35, 0.12);
}

.header__user-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-box__upload-btn {
  border: 1px solid #e3e3e4;
}

.user-box__upload-btn a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  transition: background 0.3s ease-in-out;
}

.user-box__upload-btn a:hover {
  background: #f9f9fa;
}

.user-box__upload-btn__icon {
  margin-right: 10px;
  padding-top: 4px;
}

.user-box__message-btn {
  margin-left: 20px;
  padding-top: 3px;
}

.user-box__noti-btn {
  margin-left: 20px;
  padding-top: 3px;
}

.user-box__user-btn {
  margin-left: 20px;
}

.user-box__user-btn__profile {
  width: 32px;
  height: 32px;
  background: orangered;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
}

.user-box__user-btn__profile span {
  font-size: 14px;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.wrapper {
  width: 1150px;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 348px;
  height: calc(100vh - 60px);
  position: relative;
}

.sidebar__inner-wrap {
  width: 348px;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar__gnb {
  padding: 18px 0;
}

.gnb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gnb__item a {
  display: flex;
  flex-direction: row;
  padding: 12px 10px;
  transition: background 0.3s ease-in-out;
}

.gnb__item a:hover {
  background: #f9f9fa;
}

.gnb__item__icon {
  width: 24px;
  height: 21px;
  margin-right: 14px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.gnb__item:first-child .gnb__item__icon {
  background-image: url('../src/images/home.svg');
}

.gnb__item.on:first-child .gnb__item__icon {
  background-image: url('../src/images/home_on.svg');
}

.gnb__item:nth-child(2) .gnb__item__icon {
  background-image: url('../src/images/following.svg');
}

.gnb__item.on:nth-child(2) .gnb__item__icon {
  background-image: url('../src/images/following_on.svg');
}

.gnb__item:last-child .gnb__item__icon {
  background-image: url('../src/images/live.svg');
}

.gnb__item.on:last-child .gnb__item__icon {
  background-image: url('../src/images/live_on.svg');
}

.gnb__item__text {
  font-size: 20px;
}

.gnb__item.on .gnb__item__text {
  color: #fe2c55;
}

.sidebar__recommend {
  padding: 16px 0;
  border-top: 1px solid #eeeeee;
}

.recommend__title {
  font-size: 16px;
  color: #868893;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 0 5px;
}

.recommend__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.recommend-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 5px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

.recommend-item:hover {
  background: #f9f9fa;
}

.recommend-item__image {
  width: 38px;
  height: 38px;
  margin-right: 14px;
}

.recommend-item__image img {
  width: 100%;
}

.recommend-item__text__id {
  font-size: 16px;
  font-weight: 700;
}
.recommend-item__text__name {
  font-size: 12px;
  font-weight: 400;
  color: #9a9aa9;
}

.sidebar__tags {
  padding: 16px 0;
  border-top: 1px solid #eeeeee;
}

.tags__title {
  font-size: 16px;
  color: #868893;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 0 5px;
}

.tag-list {
  display: block;
  padding: 0 5px;
}

.tag-item {
  display: inline-block;
  margin-bottom: 7px;
}

.tag-item a {
  display: block;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  font-size: 14px;
  color: #818181;
  border-radius: 20px;
  transform: background 0.3s ease-in-out;
}

.tag-item a:hover {
  background: #f9f9fa;
}

.sidebar__footer {
  padding: 16px 10px;
  border-top: 1px solid #eeeeee;
  font-size: 12px;
}

.footer__address {
  color: #868893;
  font-style: normal;
  line-height: 1.5;
  margin-bottom: 15px;
}

.footer__copyright {
  color: #868893;
}

.contents {
  width: calc(100% - 348px);
  flex: 1;
  padding-left: 10px;
}
