.header__inner-wrap {
  width: 100%;
}

.wrapper {
  width: 100%;
  padding: 0 20px 0 10px;
}

.sidebar {
  width: 252px;
}

.sidebar__inner-wrap {
  width: 252px;
}

.contents {
  width: calc(100% - 252px);
  padding: 30px 0 0 10px;
}

.user-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.user-box__profile {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  overflow: hidden;
}

.user-box__profile img {
  width: 100%;
}

.user-box__name {
  flex: 1;
  padding: 0 20px;
}

.user-box__id {
  font-size: 34px;
  margin-bottom: 3px;
}

.user-box__remark {
  font-size: 14px;
  margin-bottom: 18px;
  font-weight: 500;
}

.user-box__follow button {
  font-size: 16px;
  padding: 9px 30px 5px;
  min-width: 164px;
  text-align: center;
  background: #fe2c55;
  border: 1px solid #fe2c55;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.user-box__follow button:hover {
  background: #ed1a44;
}

.info-box {
  margin: 30px 0;
}

.info-box__connect {
  margin-bottom: 16px;
}

.info-box__connect .num {
  font-weight: 900;
  margin-right: 2px;
}
.info-box__connect .text {
  color: #989898;
  margin-right: 26px;
}

.info-box__introduce {
  font-weight: 400;
}

.info-box__introduce .contact {
  font-weight: 700;
  margin-top: 8px;
}

.info-box__introduce .clip-icon {
  display: inline-block;
  transform: translateY(4px);
}

.video-box {
  padding: 10px 0 30px;
  border-top: 1px solid #dbdbda;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.video-box__article {
  width: 25%;
  padding: 8px 5px;
  position: relative;
}

@media (max-width: 1240px) {
  .video-box__article {
    width: 33.33%;
  }
}

.video-box__video {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  overflow: hidden;
}

.video-box__play {
  position: absolute;
  top: 20px;
  right: 17px;
  color: white;
  z-index: 2;
}
